.letter-container {
    display: flex;
    justify-content: center;
    font-size: 2em;
    gap: 1em;
    font-family: monospace;
    flex-wrap: wrap;
    margin: 1em auto 0;
    text-transform: uppercase;

    @media (min-width: 576px) {
        font-size: 3em;
    }
    @media (min-width: 768px) {
        font-size: 4em;
    }
    @media (min-width: 992px) {
        font-size: 5em;
    }
    @media (min-width: 1200px) {
        font-size: 6em;
    }
    @media (min-width: 1400px) {
        font-size: 8em;
    }
}